# GT2021-60283 Demo I - Load and Transform Data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import glob

In [6]:
LF_file = "data/NTNU_LF.h5"
HF_files = glob.glob("data/*kW.h5")

In [12]:
with pd.HDFStore(LF_file, 'r') as store:
    LF_df = store.get("LF0000")
for i, HF_file in enumerate(HF_files):
    key = HF_file.split('//')[-1].split('.')[0]
    with pd.HDFStore(HF_file, 'r') as store:
        if i ==0:
            HF_df = store.get("T0000")
            HF_df['key'] = key
        else:
            temp_HF = store.get("T0000")
            temp_HF['key'] = key
            HF_df = HF_df.append(temp_HF)

In [9]:
LF_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 22924 entries, 16677.0 to 387002.0
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   TIME                            22924 non-null  float64
 1   Z - Mass flow                   22924 non-null  float64
 2   Exhaust temperature             22924 non-null  float64
 3   TC4                             22924 non-null  float64
 4   TC5                             22924 non-null  float64
 5   TC6                             22924 non-null  float64
 6   TC7                             22924 non-null  float64
 7   TC8                             22924 non-null  float64
 8   TC9                             22924 non-null  float64
 9   TC10                            22924 non-null  float64
 10  TC11                            22924 non-null  float64
 11  Flashback temperature - Single  22924 non-null  float64
 12  TC13                            22924 non-null  float64
 13  TC14                            22924 non-null  float64
 14  TC15                            22924 non-null  float64
dtypes: float64(15)
memory usage: 2.8 MB

In [13]:
HF_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4584203 entries, 3335400 to 7298000
Data columns (total 3 columns):
 #   Column               Dtype
---  ------               -----
 0   TIME                 float64
 1   upper_mic_theta_000  float64
 2   key                  object
dtypes: float64(2), object(1)
memory usage: 139.9+ MB